*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 200px;
    width: 300px;
    margin: 10px;
}
.asteca, .asteca2{
    margin: 20px;
}


@media(max-width:1200px){
    body{
        flex-direction: column;
        height: auto;
      
    }

}